<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>This is the home page</h1>
    <h3><%=1+2 %></h3>
    <h3><%= "Apna college".toUpperCase()%></h3>
    <h3><%= ["hello", "bonjour","Sionara"][2] %></h3>
    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam repellat illo saepe doloribus iste optio tempora. Rem officia adipisci laborum! Sunt esse nihil modi nulla labore consectetur illum vitae corporis!</P>
    <button>Click me!</button>
</body>
</html>